* {
	margin:0;
	padding:0;	
}

body,html {
	height:100%;
}

#image {
	background-image: linear-gradient(to left, rgba(55,55,55,0.6), rgba(0,0,0
	,1)),url("https://foobar.sporttisaitti.com/@Bin/255345/foo.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height:100%;
}

header {
	float:right;
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0)),url("https://foobar.sporttisaitti.com/@Bin/256602/iivolley.jpg");

	background-position: center;
	min-height:100px;
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	opacity: 0.5;
}

h1 {
	color: darkorange;
}

header h1 {
	color:white;
}

.navigation-list {
	float:right;
	list-style:none;
}

.navigation-list li {
	display: inline-block;
}

.navigation-list li a {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	font-size: 15px;
}

.navigation-list li.active a {
	border: 2px solid #e56d0c;
}

.navigation-list li a:hover {
	border: 2px solid #e56d0c;
	color: #e56d0c;
}

#content {
	float: left;
	position:relative;
	text-align: left;
	margin-left: 10%;
	margin-right: 20%;
	margin-top: 0;
}

#content p {
	color: #eee;
}
#header2 {
	position:relative;
	text-align:center;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 10%;
	width: 80%;
	color: #bbbbbb;
	background-color: black;
}
#footer {
	position:relative;
	text-align:center;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 10%;
	width: 80%;
	margin-bottom: 3%;
	color: #bbbbbb;
	background-color: black;
}

#footer hr {
	color: #ccc;
}

